{{ define "user_tickets" }}

{{ range $i, $ticket := .UserTickets }}


<div class="card text-center">
    <div class="card-header">
        <div>
            {{ .Lecture.When }}
        </div>
        <div>
            <form method="post" action="/my/tickets/release" class="align-middle">
                <input name="ticket_id" type="hidden" value="{{ .Ticket.ID }}">
                <button type="submit" class="btn btn-danger btn-sm">Отказаться</button>
            </form>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ .Lecture.Name }}</h5>
        <p class="card-text">{{ .Lecture.Description }}</p>
    </div>
    <div class="card-footer text-muted">
        {{ .Location.Name }} {{.Location.Address}}
    </div>
</div>

{{ end }}

{{ end }}