{{ template "_start_html" . }}
<body>

    
          <!-- start nav bar -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/locations/new">Locations</a>
                </li>
    
              </ul>
    
              <a href="/login" class="btn btn-outline-light my-2 my-sm-0" role="button">Log In</a>
              <a href="/registration/start" class="btn btn-outline-light my-2 my-sm-0" role="button">Sign In</a>
            </div>
          </nav>
          </nav>
        <!-- end of nav bar -->
        
        <!-- center -->
        <form action="/login/end" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <div class="col-md-4 ml-5">
                    <label for="validationCustom01">Email</label>
                    <input type="text" class="form-control" id="validationCustom01" name="email" placeholder="email"
                        required>
                    <div class="invalid-feedback">
                        Please fill your email.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 ml-5">
                    <label for="validationCustom01">Password</label>
                    <input type="password" class="form-control" id="validationCustom01" name="password" placeholder="password"
                        required>
                    <div class="invalid-feedback">
                        Please fill your password.
                    </div>
                </div>
            </div>
            <div class="col-md-6 ml-5">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
        <div class="col-md-6 ml-5">
            <div id="msg" class="alert alert-primary" role="alert">
                {{.error_msg}}
            </div>
    
        </div>

        <!-- center end -->
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            var msg=$("#msg")
            if (msg.text != "All is OK"){
                msg.toggleClass("alert alert-warning");
            }
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    
        
    

  {{template "_bootstrap" . }}
</body>
{{template "_end_html" . }}



    






