{{ template "_start_html" . }}
<!-- . - c.Keys -->

<body>

    {{ template "_navbar_main" . }}

    {{ template "all_lectures" . }}

    <div class="container-fluid">

        <p class="text-muted">
            
            <a href="http://bookmeter.ru" class="text-reset">bookmeter.ru</a>
            <a href="http://langmeter.ru" class="text-reset">langmeter.ru</a>
            <a href="http://cupofsmile.ru" class="text-reset">cupofsmile.ru</a>
        </p>
    </div>


    {{template "_bootstrap" . }}
</body>
{{template "_end_html" . }}