{{ template "_start_html" . }}

<body>

    {{ template "_navbar_main" . }}

    <h1>Редактирование списка лекций</h1>

    <table class="table">
        <tbody>
            {{ range $i, $lecture := .lectures }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .LocationID }}</td>
                <td>{{ .When }}</td>
                <td>{{ .GroupName }}</td>
                <td>{{ .MaxSeets }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .Description }}</td>
                <td><a href="/manage/lectures/edit?lecture_id={{ .ID }}" role="button" class="btn btn-light">Редактировать</a></td>

            </tr>
            {{ end }}

        </tbody>
    </table>
    <a href="/manage/lectures/new?location_id={{ .LocationID }}" role="button" class="btn btn-light">Добавить лекцию</a>


    {{ template "_bootstrap" . }}
</body>
{{template "_end_html" . }}