{{ template "_start_html" . }}

<body>

    {{ template "_navbar_main" . }}

    <form action="/manage/lections/insert" method="post" class="needs-validation" novalidate>
        <div class="form-row">
            <input type="hidden" name="location_id" value="{{ .LocationID }}" >
        
        <div class="col-md-4 mb-3">
            <label for="validationCustom03">Когда</label>
            <input type="text" name="when" class="form-control" id="validationCustom01" placeholder="Когда" required>
            <div class="invalid-feedback">
                Заполните дату/время лекции.
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom04">Группа/класс</label>
            <input type="text" name="group" class="form-control" id="validationCustom01" placeholder="Группа" required>
            <div class="invalid-feedback">
                Заполните группу.
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom05">Количество мест</label>
            <input type="text" name="group" class="form-control" id="validationCustom01" placeholder="число" required>
            <div class="invalid-feedback">
                Заполните число мест.
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Название</label>
            <input type="text" name="name" class="form-control" id="validationCustom01" placeholder="Название" required>
            <div class="invalid-feedback">
                Заполните название лекции.
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Location address</label>
            <input type="text" name="description" class="form-control" id="validationCustom02" placeholder="Описание лекции"
                required>
            <div class="invalid-feedback">
                Заполните описание лекции.
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>

    {{ template "_bootstrap" . }}
</body>
{{template "_end_html" . }}