{{ define "all_lectures" }}

{{ range $i, $lecloc := .leclocs }}


<div class="jumbotron">
    <h1 class="display-4">{{ .Lecture.Name }}</h1>
    <p class="lead">{{ .Lecture.Description }}</p>
    <hr class="my-4">
    <p>
        <a class="btn btn-primary btn-lg" href="/my/tickets/buy?lecture_id={{ .Lecture.ID }}" role="button">
            Записаться
        </a>
    </p>
    <p>{{ .Location.Name }} {{ .Location.Address }}</p>
</div>

{{ end }}

{{ end }}


{{ define "landing" }}

<div class="container-fluid">
    <h2>Хочешь попасть на интересную лекцию? </h2>
    <p>Зарегистрируйся на нее заранее</p>
    <h2>Как спланировать мероприятие?</h2>
    <div>Создай мероприятие на своей лощадке и открывай регистрацию для слушателей</div>
    <p>...</p>
</div>

{{ end }}