{{ template "_start_html" . }}

<body>

    {{ template "_navbar_main" . }}



    <form action="/registration/end" method="post" class="needs-validation" novalidate>

        <div class="col-md-4 ml-5">

            <div class="row">
                <div class="col">
                    <h1>Получение пароля</h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="validationCustom01">Куда отправить пароль</label>
                    <input type="text" name="email" class="form-control" id="validationCustom01" placeholder="email"
                        required>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col">
                        <div class="alert alert-success">Этот email Вы будете вводить в качестве логина, чтобы войти на сайт.</div>
                    </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="validationCustom02">ФИО</label>
                    <input type="text" name="fio" class="form-control" id="validationCustom02" placeholder="Фамилия Имя Отчество"
                        required>
                    <div class="invalid-feedback">
                        ФИО - обязательное для заполнения поле.
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col">
                        <div class="alert alert-success">Это имя будет в списках зарегистрированных, когда вы запишетесь на какое-либо мероприятие, или на бейджике, если вы его распечатаете.</div>
                    </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </div>
        </div>

    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>


    {{template "_bootstrap" . }}
</body>
{{template "_end_html" . }}