{{ template "_start_html" . }}

<body>

    {{ template "_navbar_main" . }}


    {{ range $i, $lecloc := .leclocs }}


    <div class="jumbotron">
        <h1 class="display-4">{{ .Lecture.Name }}</h1>
        <p class="lead">{{ .Lecture.Description }}</p>
        <hr class="my-4">
        <p>
            <a class="btn btn-primary btn-lg" href="/listener/buy_ticket?lecture_id={{ .Lecture.ID }}" role="button">
                Записаться
            </a>
        </p>
        <p>{{ .Location.Name }} {{ .Location.Address }}</p>
    </div>

    {{ end }}


    {{ template "_bootstrap" . }}
</body>
{{template "_end_html" . }}