{{ template "_start_html" . }}

<body>

    {{ template "_navbar_main" . }}

    <h1>Организаторы на площадках</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fio</th>
                <th>Email</th>
                <th>RoleID</th>
                <th>Площадка</th>
                <th>Адрес</th>
            </tr>
        </thead>
        <tbody>
            {{ range $i, $locorg := .locorgs }}
            <tr>
                <td><a href="/administrate/locorgs?user_id={{ .Organizer.ID }}" role="button" class="btn btn-secondary">Площадки</a></td>
                <td scope="row">{{ .Organizer.ID }}</td>
                <td>{{ .Organizer.Fio }}</td>
                <td>{{ .Organizer.Email }}</td>
                <td>{{ .Organizer.RoleID }}</td>
                <td>{{ .Location.Name }}</td>
                <td><a href="/manage_lections?location_id={{ .Location.ID }}" role="button" class="btn btn-secondary">Лекции</a></td>

                <td>{{ .Location.Address }}</td>
                <td><a href="/administrate/locorgs?location_id={{ .Location.ID }}" role="button" class="btn btn-secondary">Организаторы</a></td>
                <td><a href="/administrate/locorgs/delete?location_id={{ .Location.ID }};user_id={{ .Organizer.ID }}" role="button" class="btn btn-danger">Удалить</a>

            </tr>
            {{ end }}

        </tbody>
    </table>
    <a href="/administrate/locorgs/add_locorg" role="button" class="btn btn-light">Добавить организатора на площадку</a>


    <!-- <a href="/administrate/user/new" type="button" class="btn btn-light">Создать</a> -->

    {{ template "_bootstrap" . }}
</body>
{{template "_end_html" . }}