{{ template "_start_html" . }}
<body>

    
          
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/locations/new">Locations</a>
                </li>
    
              </ul>
    
              <a href="/login" class="btn btn-outline-light my-2 my-sm-0" role="button">Log In</a>
              <a href="/registration/start" class="btn btn-outline-light my-2 my-sm-0" role="button">Sign In</a>
    
            </div>
          </nav>
          </nav>
    
        <h1>Welcome to Main Page!</h1>
    

  {{template "_bootstrap" . }}
</body>
{{template "_end_html" . }}
  
    
